{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<div>
    <p>id: {{info.id}}</p>
    <p>first_name: {{info.first_name}}</p>
    <p>middle_name: {{info.middle_name}}</p>
    <p>last_name: {{info.last_name}}</p>
    <p>email: {{info.email}}</p>
    <p>created_at: {{info.created_at}}</p>
    <p>created_at: {{info.created_at}}</p>
    <p>updated_at: {{info.updated_at}}</p>
    <p>role: {{info.role}}</p>
    <p>is_active: {{info.is_active}}</p>
        <p>Користувач замовив книжки: </p>
        <ul>
            {% if not books %}
            <p>Користувач ще нічого не замовив</p>
            {% endif %}
    {% for item in books %}
    <li><a href="\books\{{item.id}}"> {{ item }}</a></li>
    {% endfor %}
        </ul>
</div>

<a href="./">До списку користувачів</a>
{% endblock %}