{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <link type="text/css" href="{% static '/css/styles.css' %}" rel="stylesheet">
</head>
<body>
{% block mainmenu %}
		<div class="header">
<form action="search/" method="get">
 <p style="color: #FFF"> <b>Пошук</b>
  <input type="text" name="answer">
  <input type="submit"></p>
 </form>
		</div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		<li><a href="/users/">Користувачі</a></li>
		<li><a href="/authors/">Автори</a></li>
		<li><a href="/books/">Книжки</a></li>
        <li><a href="/orders/">Замовлення</a></li>
	</ul>
</td>
<!-- end Sidebar -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- content -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- end content -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>FOOTER</p>
	</div>
</td></tr></table>
<!-- footer end -->
</body>
</html>